# ignore .git and .cache folders
.git
.cache
.gitignore

# ignore folders
branches/
hooks/
img/
info/
objects/

# ignore all our output files that are in root
*.p

# ignore files
config
head
description
job_params_*.json


# ignore all markdown files (md) beside all README*.md other than README-secret.md
*.md
!README*.md
README-secret.md
